<div id="<%= dom_id webshop %>">
  <p>
    <strong>Product:</strong>
    <%= webshop.product %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= webshop.price %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= webshop.gym_id %>
  </p>

</div>
